<div class="card" style="width: 18rem;">
    <div class="card-header">
      <img class="rounded-circle" src="{{post.user.profile_image.url}}" alt="" width="30px">
        <a href="">{{post.user.username}}</a>
    </div>
    <img src="{{post.image.url}}" class="" alt="...">
    <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">{{post.content}}</p>
      <p class="card-text">{{post.created_at | timesince}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>